<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Kyle Calica">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" >
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Galileo Gear</a>
      <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#company">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Store</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div id="about" class="row align-items-center">
          <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <span class="statement">
              <h2>About Us</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla posuere sollicitudin aliquam ultrices sagittis. Convallis posuere morbi leo urna molestie at elementum. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Ultricies mi eget mauris pharetra et ultrices. Est sit amet facilisis magna. Vel facilisis volutpat est velit egestas dui id ornare arcu. Vitae sapien pellentesque habitant morbi tristique. Cras adipiscing enim eu turpis egestas pretium. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Eget nunc scelerisque viverra mauris in aliquam. In est ante in nibh. Mollis nunc sed id semper risus in hendrerit gravida. Ac tincidunt vitae semper quis. Tristique senectus et netus et malesuada fames. Ut sem nulla pharetra diam sit amet nisl. Eros donec ac odio tempor orci dapibus ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien.
              </p>
              </span>
          </div>
      </div>
      <div class="row spacing"><div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"></div></div>
        <div id="product" class="row align-items-center">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <span class="statement">
              <h2> Our Products </h2>
            </span>
            <div id="prodcut-listing" class="row">
              <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6">
                <div class="profile">
                  <figure class="figure">
                    <img class="product-pic" class="figure-img img-fluid" src="#" alt="The Greatest Thing Ever"/>
                      <figcaption class="figure-caption text-center">Krush</figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="row spacing"><div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"></div></div>

        <div class="row spacing"><div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"></div></div>
        <div id="company" class="row align-items-center">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <span class="statement">
              <h2> The Team </h2>
            </span>
            <div class="row">
              <div class="teammate">
                <figure class="figure">
                  <a href="https://www.linkedin.com/in/matthiassiiteri/"><img class="headshot" class="figure-img img-fluid" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAN3AAAAJDgxZmE0YmI1LTFjZDgtNDkzMi05YTRlLTgyZDhkMzYxNzcxZg.jpg" alt="He's Shy"/></a>
                    <figcaption class="figure-caption text-center">Matthias Siiteri - Founder</figcaption>
                </figure>
              </div>
              <div class="teammate">
                <figure class="figure">
                  <a href="https://www.linkedin.com/in/ishansingh927578/"><img class="headshot" class="figure-img img-fluid" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAl5AAAAJDkxZGI0NWNhLWIyYzMtNDA1Ni1iZDg4LTNhM2E2NjdmNWEyYg.jpg" alt="He's Shy"/></a>
                    <figcaption class="figure-caption text-center">Ishan Singh - Co-Founder</figcaption>
                </figure>
              </div>
              <div class="teammate">
                <div class="profile">
                  <figure class="figure">
                    <a href="https://www.linkedin.com/in/stcalica"><img class="headshot" class="figure-img img-fluid" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAetAAAAJDc0ZjgwYjk0LTAzYzQtNGQ2Yy1iYjk0LWFkODA1OTBiNmFhMA.jpg" alt="He's Shy"/></a>
                      <figcaption class="figure-caption text-center">Kyle Calica - Digital Marketer</figcaption>
                  </figure>
                </div>
              </div>
              <div class="teammate">
                <div class="profile">
                  <figure class="figure">
                  <a href="https://www.linkedin.com/in/alexander-iremadze-97498099/"><img class="headshot" class="figure-img img-fluid" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAr6AAAAJDQxZjJiYTNjLWRkNWYtNDcxZi05ZDU4LTdjM2M0NmUxOGEyOA.jpg" alt="He's Shy"/></a>
                      <figcaption class="figure-caption text-center"> Alexander Iremadze - Legal</figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="row spacing"><div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"></div></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
